version: '3'

services:
  redis:
    image: 'redis:latest'
    networks:
      - demo-network
  python_netapp:
    image: python_netapp
    networks:
      - demo-network
    hostname: dummy
    container_name: python_netapp
    build:
      context: ./pythonnetapp
    volumes:
      - ./pythonnetapp:/usr/src/app
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REQUESTS_CA_BUNDLE=/usr/src/app/ca.crt
      - SSL_CERT_FILE=/usr/src/app/ca.crt
      - CAPIF_HOSTNAME=${CAPIF_HOSTNAME}
      - CAPIF_PORT=8080
    depends_on:
      - redis
    extra_hosts:
      - host.docker.internal:host-gateway
  # python_exposer:
  #   image: python_exposer
  #   hostname: exposer
  #   container_name: python_exposer
  #   build:
  #     context: ./pythonexposer
  #   volumes:
  #     - ./pythonexposer:/usr/src/app
  #   environment:
  #     - REDIS_HOST=redis
  #     - REDIS_PORT=6379
  #     - REQUESTS_CA_BUNDLE=/usr/src/app/ca.crt
  #     - SSL_CERT_FILE=/usr/src/app/ca.crt
  #     - CAPIF_HOSTNAME=${CAPIF_HOSTNAME}
  #     - CAPIF_PORT=8080
  #   depends_on:
  #     - redis
  #   extra_hosts:
  #     - host.docker.internal:host-gateway
  # web_netapp:
  #   image: web_netapp
  #   container_name: web_netapp
  #   build:
  #     context: ./webnetapp
  #   ports:
  #     - 80:80
  # nef_callback_server:
  #   build:
  #     context: ./nef_callback_server
  #   ports:
  #     - 8085:8080
  #   volumes:
  #     - ./nef_callback_server:/usr/src/app
  #   environment:
  #     - REDIS_HOST=redis
  #     - REDIS_PORT=6379
  #   extra_hosts:
  #     - host.docker.internal:host-gateway
  # capif_callback_server:
  #   build:
  #     context: ./capif_callback_server
  #   ports:
  #     - 8086:8080
  #   volumes:
  #     - ./capif_callback_server:/usr/src/app
  #   environment:
  #     - REDIS_HOST=redis
  #     - REDIS_PORT=6379
  #   extra_hosts:
  #     - host.docker.internal:host-gateway

networks:
  demo-network:
    external: true 